<!DOCTYPE HTML>
<html>
    <head>
        <title> MLB Stats Website </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="functions/functions.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    </head>
    <body>
        <h1>MLB Stats API Player Search - Hitters</h1>
        Player's Full Name: <input type = "text" id="playerName"/>
        Season: <input type = "text" id="year"/>
        <button onclick="searchPlayer()"> Search </button>
        <br /><br />
        <div id="information"></div>
    </body>
</html>