<!DOCTYPE HTML>
<html>
    <head>
        <title> MLB Data API Website </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="functions/functions.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    </head>
    <body>
        <h1>MLB Stats API Player Search - Hitters</h1>
        Player's Full Name: <input type = "text" id="playerName"/>
        Season: <input type = "text" id="year"/>
        <button onclick="searchPlayer()"> Search </button>
        <br /><br />
        <div id="information"></div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Season</th>
                    <th scope="col">Team</th>
                    <th scope="col">Average</th>
                    <th scope="col">Walks</th>
                    <th scope="col">RBIs</th>
                    <th scope="col">Homeruns</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" id="p_season"></th>
                    <th scope="row" id="p_team"></th>
                    <th scope="row" id="p_avg"></th>
                    <th scope="row" id="p_walks"></th>
                    <th scope="row" id="p_rbis"></th>
                    <th scope="row" id="p_hrs"></th>
                </tr>
            </tbody>
        </table>
    </body>
</html>